.container {
  background-image: url("../../../../assets/images/blurry.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.login_container {
  margin: auto;
  padding: 25px 25px 27px;
  height: 403px;
  background: #ffffff;
  box-shadow: 0px 7.8764px 9px rgba(164, 164, 164, 0.29);
  border-radius: 10px;
}

.title {
  text-align: center;
  width: 73px;
  height: 33px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  text-transform: capitalize;
  color: #03050b;
  margin-bottom: 6px;
}

.title_desc {
  text-align: center;
  margin-bottom: 24px;
  width: 360px;
  height: 23px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  color: rgba(52, 52, 52, 0.7);
}

.label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #03050b;
  align-self: stretch;
  margin-bottom: 8px;
}

.input {
  margin-bottom: 18px;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 229px;
  width: 100%;
  height: 43px;
  background: #efefef;
  color: #03050b;
  border-radius: 7px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.checkbox {
  height: 18px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #03050b;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 28.5px;
}

.button {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13.5px 22px;
  gap: 10px;
  width: 100%;
  height: 45px;
  background: #198564;
  border-radius: 7px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

@media (max-width: 1512px) {
  /*desktop*/
  .login_container {
    max-width: 467px;
    max-height: 403px;
  }
}

@media (max-width: 1024px) {
  /*tablet*/
  .login_container {
    max-width: 370px;
    max-height: 394px;
  }
}

@media (max-width: 375px) {
  /*phone*/
  .login_container {
    max-height: 394px;
    max-width: 400px;
  }
}
